{% extends 'base.html' %}

{% block title %}Dodawanie osoby{% endblock %}

{% block header %}Dodawanie osoby{% endblock %}

{% block content %}
<form method="post">
	<div class="field">
		<label class="label" for="firstName">Imię:</label>
		<input class="input is-link" type="text" name="firstName"></input>
	</div>
	<div class="field">
		<label class="label" for="lastName">Nazwisko:</label>
		<input class="input is-link" type="text" name="lastName"></input>
	</div>
	<div class="field">
		<label class="label" for="gender">Płeć:</label>
		<select class="input is-link" id="gender" name="gender">
			<option>Mężczyzna</option>
			<option>Kobieta</option>
		</select><br>
	</div>
	<div class="field">
		<label class="label" for="birthDate">Data urodzenia:</label>
		<input class="input is-link" id="birthDate" type="date" name="birthDate"></input><br>
	</div>
	<div class="field">
		<label class="label" for="deathDate">Data śmierci:</label>
		<input class="input is-link" id="deathDate" type="date" name="deathDate"></input><br>
	</div>
	<button class="button is-primary" type="submit">Dodaj</button>
</form>
{% endblock %}
